[workspace]
resolver = "3"
members = [
    "crates/astrelis",
    "crates/astrelis-core",
    "crates/astrelis-core-macros",
    "crates/astrelis-framework",
    "examples/gui-app",
    "examples/roguerun",
    "examples/egui-demo",
]
default-members = [
    "crates/astrelis",
    "crates/astrelis-core",
    "crates/astrelis-core-macros",
    "crates/astrelis-framework",
]

[workspace.package]
version = "0.0.1"
rust-version = "1.87.0"
edition = "2024"
authors = ["hxyulin <hxyulin@proton.me>"]

[workspace.dependencies]
astrelis = { path = "crates/astrelis", version = "0.0.1" }
astrelis-core = { path = "crates/astrelis-core", version = "0.0.1" }
astrelis-core-macros = { path = "crates/astrelis-core-macros", version = "0.0.1" }
astrelis-framework = { path = "crates/astrelis-framework", version = "0.0.1" }

tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
puffin = "0.19.1"
bytemuck = "1.23.1"
