[package]
name = "astrelis-winit"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
tracing.workspace = true

winit = { version = "0.30.12", features = ["rwh_05"] }
