[package]
name = "astrelis-audio"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true

description = "Audio processing library for Astrelis"

[dependencies]
