[package]
name = "astrelis-core"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
tracing.workspace = true
puffin.workspace = true
glam.workspace = true
mint.workspace = true
bytemuck = { workspace = true, features = ["derive"] }
tracing-subscriber.workspace = true
